/* Container for login form */
.login-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 20vh;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center; /* Center the content */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  
  /* Form header */
  .login-header {
    text-align: center;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #a4ac86;
  }
  
  /* Form inputs */
  .login-input {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block; /* Ensure labels are displayed on a new line */
  }
  
  .input-group input[type="checkbox"] {
    margin-left: 3px;
  }
  
  /* Submit button */
  .login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #a4ac86;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #a6af85;
  }
  
  /* Error message */
  .login-error {
    color: red;
    margin-top: 10px;
    text-align: center;
  }