.top-images img {
  
  width: 350px;
  height: 450px;
  margin: 10px;
  transition: filter 0.3s ease; 
  transition: transform 0.3s ease;
}

.top-images h4{
  font-weight: 4;
}

.other-images h5 {
  font-weight: 4;
}

.top-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:30px;
  margin-top:20px;

}




.top-images img:hover {
  filter: grayscale(70%); /* Apply the grayscale effect on hover */
  transform: translateY(-10px);
  cursor:pointer;
}


.other-images img{
 width:250px;
 height: 250px;
 margin: 5px;
 transition: transform 0.3s ease;
}

.other-images img:hover{
  filter: grayscale(70%); 
  transform: translateY(-10px);/* Apply the grayscale effect on hover */
  cursor:pointer;

}

.other-images {
  display:flex;
  justify-content: center;
  flex-wrap: wrap; 
  margin:30px;
  
 

}






