.post{
    display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  width: 100%; /* Ensures the div takes full width */
  height: 0; /* Initial height to 0 */
  padding-top: 200px;
  position: relative; /* Positions the inner content */
}
.post img{
    padding-top:300px;
    width:600px;
    height:600px;
}
.like{
    margin: 20px;
}

.add{
    margin: 20px;
}

.header {
    padding-left: 50px;
}
